@inherits LayoutComponentBase


<div>
    <div class="main">
        <div class="top-row px-2" style="background:#586F7C">
            <a href="/" style="color:#F4F4F9;">Home</a>
            <a href="/contact" style="color:#F4F4F9;">Contact</a>
            <a href="/photos" style="color:#F4F4F9;">Photos</a>
            <a href="/about" style="color:#F4F4F9;">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<html>
<head>
    <title>HTML Backgorund Color</title>
</head>
<body style="background-color:black;">

</body>
</html>


@*// 2F4550 Charcoal
// 586F7C Dark Electric Blue
// B8DBD9 Powder Blue
// F4F4F9 Ghost White*@