@page "/photos"

<h1>Photos</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click Here</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 5;
    }
}
